.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vh;
    height: 90vh;
    margin: 0 auto;
    border: 2px solid black
}
.container .grid-row {
    display:flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    
}
.container .square {
    padding: 0;
    margin: 0;
    flex: 1;
    /* width: 5.75vh;
    height: 5.75vh;  */
}

.colored {
    background-color: black;
}

button {
    display: block;
    margin: auto;
}